  .popup-content {
  z-index:6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: black; */
  color:blue;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

  
  .palette-item section 
  {
  
      display: block;
     width: 60px; 
    margin: 4px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  p.palette-item.section {
    width: 90%;
}
  
  
  
  .palette-item {
  
  flex-direction: row;
  width: 40px;
  margin: 4px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.palette-item.current {
  background-color: #4CAF50;
  color: #fff;
}

.palette-item.skipped {
  background-color: #ff0000;
  color: #fff;
}

.palette-item.marked-for-review {
  background-color: yellow;
  color: #000;
}

 
  

    /* Style for the attachment button */
    #attachmentButton {
      background-color: #007BFF;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    #attachmentButton:hover {
      background-color: #0056b3;
    }
    
    /* Popup styles */
    .popup {
      z-index:5;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
    }
    
 .popup-content {
  z-index:6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color:blue;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

    
    .popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    
        
        
            /* CSS styles for the quiz application */
        .question-palette {
    margin-top: 200PX;
    color: #4114c3;
    z-index: 99;
    position: absolute;
    width: 35%;
    float: right;
    right: -25px;
    top: 20%;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    padding: 10px;
    border: 2px solid #e81616;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 70%;
        }
    
        .question-column {
          width: 40%;
          float: left;
          margin: 4px;
        }
    
        .question-number {
          display: inline-block;
          width: 40PX;
          margin: 4px;
          border: 2px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
        }
    
    
    /* Style for the question palette button */
    #question-palette-button {
       position: absolute;
      top: -50px;
      right: -20px;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      z-index: 2;
    }
    
    /* Style for the question number indicator */
    .question-indicator {
      /* position: absolute;
      top: -60px; */
      right: 30px;
      background-color: #4CAF50;
      color: #fff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      z-index: 3;
    }
    
    
        .questiono 
        {
          font-size: 20px;
          font-weight: 700;
          text-decoration-style: wavy ;
          
        }
        #info { font-weight: 600;}
        #quiz {
           
          max-width: 870px;
          /* margin: 0 auto; */
          padding: 15px;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        h2 {
          margin-top: 0;
          text-align: center;
        }
        
        .question {
          margin-bottom: 10px;
          
          text-align: center;
        }
        
        #start-btn,
        #submit-btn,
        #prev-btn,
        #unmark-and-submit-btn,
        #mark-for-review-btn,
        #skip-btn,
       #submit-test{
          margin-top: 20px;
          background-color: #4CAF50;
          color: #fff;
          border: none;
          padding: 10px 10px;
          border-radius: 4px;
          cursor: pointer;
        }
        
  #unmark-and-submit-btn :hover,
        #mark-for-review-btn :hover,
        #submit-test :hover,
  #submit-btn:hover,
        #prev-btn:hover,
        #skip-btn:hover {
          background-color: #45a049;
        }
        
        #result {
          font-weight: bold;
          margin-top: 20px;
          text-align: center;
        }
        
        #score {
          color: #4CAF50;
        }
        
        .igg { 
          max-height: 350px;
          border-radius: 15px !important;
        }
        
        #instructions {
          text-align: center;
          margin-bottom: 20px;
        }
        
        .correct-answer {
          color: green;
          font-weight: bold;
        }
        
        .incorrect-answer {
          color: red;
          font-weight: bold;
        }
    
        hr {
          margin-top: 20px;
          margin-bottom: 20px;
          border: 0;
          border-top: 1px solid #ccc;
        }
    
    
    
    @media (max-width: 500px) {
      .question-palette {
        width: auto;
        max-width: 100%;
        left: 0;
        right: 0;
        margin: 0;
        border: none;
        box-shadow: none;
      }
    
      body {
        overflow-x: hidden;
      }
    }
    
    .current {
      background-color: #4CAF50;
      color: #fff;
    }
    
            .skipped {
          background-color: #ff0000;
          color: #fff;
        }
    
        .review {
          background-color: #ff9800;
          color: #fff;
        }  
        
        
        
        
        .BtNn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition-duration: .3s;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
     /* background-color: rgb(255, 65, 65);*/
    }
    
    /* plus sign */
    .sign {
      width: 100%;
      transition-duration: .3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .sign svg {
     height: 20px; 
    }
    
    .sign svg path {
      fill: white;
    }
    /* text */
    .tet {
      position: absolute;
      right: 0%;
      width: 0%;
      opacity: 0;
      color: white;
      font-size: 1.0em;
      font-weight: 600;
      transition-duration: .3s;
    }
    /* hover effect on button width */
    .BtNn:hover {
      width: 190px;
      border-radius: 40px;
      transition-duration: .3s;
     
    }
    
    .BtNn:hover .sign {
      width: 20%;
      transition-duration: .3s;
      padding-left: 5px;
    }
    /* hover effect button's text */
    .BtNn:hover .tet {
      padding:10px;
       color : blue;
      opacity: 1;
      width: 85%;
      transition-duration: .3s;
      padding-right: 10px;
     
    }
    /* button click effect*/
    .BtNn:active {
      transform: translate(2px ,2px);
    }
  

    /* Additional styles here */
  .chp-main{

     max-width: 790px;
 
    
  }
    .chapter-box {
    display: none;
 padding: 8px; /* Add padding for better appearance */
  margin: 4px; /* Add margin for better spacing */
}

    .chapter-option {
       display: flex;
  text-align: center;
      align-items: center!important;
      justify-content: center !important;
  padding: 8px; /* Add padding for better appearance */
  cursor: pointer; 
      border: 2px solid #ccc;
      border-radius: 5px;
      transition: background-color 0.3s;
      margin : 3px 3px;
   
    }

    .chapter-option:hover {
      background-color: #ddd;
    }

    .subject-button {
      

    }

    .arrow-down {
      position: absolute;
     
     /* top: 15%; */
      transform: translateY(50%);
      transition: transform 0.45s;
    }

    .subject-button.open .arrow-down {
      transform: translateY(-50%) rotate(-180deg);
    }
  .togleqboxbtn {
      width:100%;
      text-align: center;
      align-items: center!important;
      justify-content: center !important;
      cursor: pointer; 
      border: 2px solid #ccc;
      border-radius: 5px;
      margin-left: 3px;
      padding: 5px;
    /* display:  block;
       margin : 1px;*/
  }




        .colored-box-1 {
            width: 40px; 
            height: 20px; 
            background-color:  yellow; 
            margin-right : 5px;
            margin-top : -2px;
            border-radius: 6px;
            margin-bottom:9px;
        }
        
        /* current ques */
        .colored-box-2 {
            width: 40px; 
            height: 20px; 
            background-color: #4CAF50; 
            margin-right : 5px;
            margin-top : -2px;
            border-radius: 6px;
            margin-bottom:9px;
        }
        
        /* for visited question */
        .colored-box-3 {
            width: 40px; 
            height: 20px; 
            background-color: orange; 
            margin-right : 5px;
            border-radius: 6px;
            margin-bottom:9px;
        }
        .color-box {
          display : flex; 
          padding:4px; 
          font-weight:550;
        }
